name: Deploy to S3 Bucket

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'features/**'

env:
  AWS_REGION: 'us-east-1'

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: development

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform setup
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.5

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform init
        run: cd terraform-infra && terraform init -backend-config="backend.hcl"

      - name: Terraform workspace
        run: cd terraform-infra && terraform workspace select dev

      - name: Terraform Apply
        id: apply
        run: |
          cd terraform-infra && terraform apply \
              --var-file=environments/dev.tfvars \
              -var="gcp_client_id=${{ secrets.GCP_CLIENT_ID }}" \
              -var="gcp_client_secret=${{ secrets.GCP_SECRET }}" \
              -var="service_account_ci_arn=${{ secrets.SERVICE_ACCOUNT_CI_ARN }}" \
              -var="accountId=${{ secrets.ACCOUNT_ID }}" \
              -var="domain=${{ secrets.DOMAIN }}" -auto-approve